ul
{	
    list-style-type: none;
    overflow:hidden;
    margin: 0;
    padding: 0;
}
    /*水平导航栏*/
li{
    float: left;
}
li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} 
/*鼠标移动到选项上修改背景颜色 */
li a:hover {
    background-color: #0168f7;
}
    a:link,a:visited{
	font-weight:bold;
	color:#ffffff;
	background-color:rgb(1, 179, 255);
	text-align:center;
	padding:16px;
	text-decoration:none;
	text-transform:uppercase;
    }
    a:hover,a:active{
	background-color:#7A991A;
    }